
QFrame {
    background: #FFFFFF;
    /*border-image: url('resource/loginBackground.jpg');*/
}

QPushButton#enterButton {
    border: 1px;
    border-radius: 3px;
    background: #2E7ECB;
    color: white;
}

QPushButton#enterButton:hover {
    background: #4A94D9;
}

QLabel#warningIconLabel {
    border-image: url(resource/warning.png);
}

QLabel#warningLabel {
    color: #E33232;
    padding: 3px;
}